@import './utils/base';
@import './utils/colors';
@import './utils/reset';
@import './components/about';
@import './components/advantages';
@import './components/contacts';
@import './components/customer_reviews';
@import './components/footer';
@import './components/gallery';
@import './components/header';
@import './components/hero';
@import './components/products';
@import './components/modal';
