.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  
    @media screen and (min-width:480px){
      width: 480px;
    }
    @media screen and (min-width:768px){
      width: 768px;
      padding-left: 34px;
      padding-right: 34px;
    }
    @media screen and (min-width:1280px){
      width: 1280px;
      padding-left: 115px;
      padding-right: 115px;
    } 
  }
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
body{
  background-color: #E5E5E5;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  scroll-behavior: smooth;
}