:root {
  --section-bg-color: #fff5f6;
  --title-color: #d41443;
  --label-color: #ffa5ba;
  --black-txt-color: #000000;
  --white-txt-color: #ffff;
  --grey-txt-color: #907e82;
  --button-txt-color: #d41443;
  --button-bg-color: #d41443;
  --button-two-bg-color: #ecebeb;
  --button-hover-bg-color: #c7133e;
  --button-two-hover-bg-color: #ecebeb;
}
