:root {
    --section-bg-color: #FFF5F6;
    --title-color: #D41443;
    --label-color: #FFA5BA;
    --black-txt-color: #000000;
    --white-txt-color: #ffffff;
    --grey-txt-color: #907E82;
    --button-txt-color: #D41443;
    --button-bg-color: #D41443;
    --button-two-bg-color: #ECEBEB;
    --button-hover-bg-color: #C7133E;
    --button-two-hover-bg-color: #ECEBEB;
}