* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {

  list-style-type: none;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
  }
  body.modal-open{
    overflow: hidden;
}
