<section class="section-about">
    <div class="container">
    <p id='about' class="section-about__label">tradition and love</p>
    <h2 class="section-about__title">how it’s made?</h2>
    <div class="container-img-text">
    
    <picture class="container-img">
        <source 
        srcset="./images/about/cow-desctop-1x.png 1x,
        ./images/about/cow-desctop-2x.png 2x"
        media="(min-width:1280px)"/>
        <source 
        srcset="./images/about/cow-tab-1x.png 1x,
        ./images/about/cow-tab-2x.png"
        media="(min-width:768px)"/>
        <source 
        srcset="./images/about/cow-mob-1x.png 1x,
        ./images/about/cow-mob-2x.png 2x"
        media="(min-width:320px)"/>
        <img class="section-about__img" src="./images/about/cow-desctop-1x.png" alt="Cow with milk">
    </picture>

    <div class="container-text">
    <p class="section-about__text section-about__first-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
<p class="section-about__text section-about__second-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
<br><br>
Aliquam erat volutpat. Aenean accumsan.</p>

    <button class="section-about__btn" type="button">Read more
        <svg class="section-about__btn-icon"
        width="5" height="8">
            <use href="./images/icons.svg#icon-Vector-right"></use>
        </svg>
    </button>
</div>
</div>
</div>
</section>
