<section id="how__made" class="section-about">
    <div class="container">
    <p id='about' class="section-about__label">tradition and love</p>
    <h2 class="section-about__title">how it’s made?</h2>
    <div class="container-img-text">
    
    <picture class="container-img">
        <source 
        srcset="./images/about/cow-desctop-1x.png 1x,
        ./images/about/cow-desctop-2x.png 2x"
        media="(min-width:1280px)"/>
        <source 
        srcset="./images/about/cow-tab-1x.png 1x,
        ./images/about/cow-tab-2x.png 2x"
        media="(min-width:768px)"/>
        <source 
        srcset="./images/about/cow-mob-1x.png 1x,
        ./images/about/cow-mob-2x.png 2x"
        media="(min-width:320px)"/>
        <img class="section-about__img" src="./images/about/cow-desctop-1x.png" alt="Cow with milk">
    </picture>

    <div class="container-text">
    <p class="section-about__text section-about__first-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
<p class="section-about__text section-about__second-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
<br><br>
Aliquam erat volutpat. Aenean accumsan.</p>

    <button class="section-about__btn" type="button" data-modal-open>Read more
        <svg class="section-about__btn-icon"
        width="5" height="8">
            <use href="./images/icons.svg#icon-Vector-right"></use>
        </svg>
    </button>
</div>
</div>
</div>
</section>

<div class="backdrop is-hidden" data-modal>
<div class="modal">
    <h2 class="modal-title">how it’s made...</h2>
    <p class="modal-text">Integer vitae cursus eros. Vivamus porttitor ornare diam sed maximus. Maecenas pretium facilisis ante, vitae consectetur lorem consectetur sit amet. Fusce varius sit amet enim in fringilla. Aliquam vel arcu vitae lorem rutrum fermentum et a nisi. Vivamus vitae lorem at libero dictum aliquam. Sed sit amet ultrices ante, in fermentum velit. Quisque elementum mi eget neque pellentesque, id volutpat ipsum facilisis. Mauris eget suscipit sapien. Vivamus at metus ante.

        Sed congue blandit magna a scelerisque. Vivamus mollis, lorem non fringilla euismod, lacus nisi condimentum augue, at tempus dolor metus semper lectus. Nunc tempus, nisl nec lobortis hendrerit, neque eros suscipit elit, quis pulvinar mi purus ut dolor. Cras eget libero tincidunt, iaculis felis vitae, porta lectus. Morbi commodo, dolor a tincidunt vehicula, magna erat pharetra nisl, sed sodales dui lacus et ante. Vivamus sit amet gravida lacus. Pellentesque et tellus suscipit, laoreet est a, tempor sem. Pellentesque vel dictum nisl. Maecenas scelerisque dolor fermentum congue finibus.</p>
    <button class="modal-close-btn" type="button" data-modal-close>Сome back</button>
</div>
</div>