<section class="section contacts-bg">
    <div class="container">
        <div class="container-top">
        <h2 class="conteiner__title visually-hidden"> Cafe contacts</h2>
        <div class="box">
            <span class="place">CAFE</span>
            <ul class="contacts-list">
                <li class="contacts-list__item">
                    <h3 class="place_work">Chicago</h3>
                    <p class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                </ul>
                <div class="line"></div>
                <ul class="working-list">
                <li class="working-list__item">
                        <h3 class="working_days">Monday-Friday</h3>
                        <p class="working_time">06:00 AM-10:00 PM</p>
                <li class="working-list__item">
                        <h3 class="working_days">Monday-Friday</h3>
                        <p class="working_time">06:00 AM-10:00 PM</p>
                </li>
                </ul>
                <div class="line"></div>
                <ul>
                    <li><a href="tel:+61(0)383766284" class="contacts-tel">+61(0)383766284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="contacts-mail">noreply@envato.com</a></li>
                </ul>
        </div>
        <div class="box">
            <span class="place place--color">FOODTRUCK</span>
            <ul class="contacts-list">
                <li class="contacts-list__item">
                    <h3 class="place_work">Los Angeles</h3>
                    <p class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
            </ul>
            <div class="line"></div>
            <ul class="working-list ">
                <li class="working-list__item">
                    <h3 class="working_days">Monday-Friday</h3>
                    <p class="working_time">06:00 AM-10:00 PM</p>
                <li class="working-list__item">
                    <h3 class="working_days">Monday-Friday</h3>
                    <p class="working_time">06:00 AM-10:00 PM</p>
                </li>
            </ul>
            <div class="line"></div>
            <ul>
                        <li><a href="tel:+61(0)383766284" class="contacts-tel">+61(0)383766284</a></li>
                        <li><a href="mailto:noreply@envato.com" class="contacts-mail">noreply@envato.com</a></li>
            </ul>
        </div>
                <div class="box">
                    <span class="place">CAFE</span>
                    <ul class="contacts-list ">
                        <li class="contacts-list__item">
                            <h3 class="place_work">New York</h3>
                            <p class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                    <div class="line"></div>
                    <ul class="working-list ">
                        <li class="working-list__item">
                            <h3 class="working_days">Monday-Friday</h3>
                            <p class="working_time">06:00 AM-10:00 PM</p>
                        <li class="working-list__item">
                            <h3 class="working_days">Monday-Friday</h3>
                            <p class="working_time">06:00 AM-10:00 PM</p>
                        </li>
                    </ul>
                    <div class="line"></div>
                    <ul>
                        <li><a href="tel:+61(0)383766284" class="contacts-tel">+61(0)383766284</a></li>
                        <li><a href="mailto:noreply@envato.com"
                                class="contacts-mail">noreply@envato.com</a></li>
                    </ul>
                </div>
                </div>
                <ul class="btn-list">
                    <li class="btn-list__item">
                        <button type="button" class="btn-contacts" open-contacts-menu>
                            <span>Our Locations</span>
                            <svg width="12px" height="8px" class="btn-contacts__icon">
                                <use href="./images/icons.svg#vector-1"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="btn-list__item">
                        <button type="button" class="btn-contacts btn-contacts--secondary">
                            <span>Franchise</span>
                            <svg width="12px" height="8px" class="btn-contacts__icon">
                                <use href="./images/icons.svg#vector-2"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
    </div>
        <div class="contacts-menu is-hidden" contacts-menu>
            <div class="modal-menu">
                <button class="close-contacts-menu" close-contacts-menu>
                    <svg class="contacts-icon" width="40" height="40">
                        <use href="./images/icons.svg#close"></use>
                    </svg></button>
                    <div class=contacts-map>
                    </div>
            </div>
        </div>
</section>