<section id="contact" class="section contacts-bg">
    <div class="container">
        <div class="container-top">
        <h2 class="conteiner__title visually-hidden"> Cafe contacts</h2>
        <div class="box">
            <span class="place">CAFE</span>
            <ul class="contacts-list">
                <li class="contacts-list__item">
                    <h3 class="place_work">Chicago</h3>
                    <p class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                </ul>
                <div class="line"></div>
                <ul class="working-list">
                <li class="working-list__item">
                        <h3 class="working_days">Monday-Friday</h3>
                        <p class="working_time">06:00 AM-10:00 PM</p>
                <li class="working-list__item">
                        <h3 class="working_days">Monday-Friday</h3>
                        <p class="working_time">06:00 AM-10:00 PM</p>
                </li>
                </ul>
                <div class="line"></div>
                <ul>
                    <li><a href="tel:+61(0)383766284" class="contacts-tel">+61(0)383766284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="contacts-mail">noreply@envato.com</a></li>
                </ul>
        </div>
        <div class="box">
            <span class="place place--color">FOODTRUCK</span>
            <ul class="contacts-list">
                <li class="contacts-list__item">
                    <h3 class="place_work">Los Angeles</h3>
                    <p class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
            </ul>
            <div class="line"></div>
            <ul class="working-list ">
                <li class="working-list__item">
                    <h3 class="working_days">Monday-Friday</h3>
                    <p class="working_time">06:00 AM-10:00 PM</p>
                <li class="working-list__item">
                    <h3 class="working_days">Monday-Friday</h3>
                    <p class="working_time">06:00 AM-10:00 PM</p>
                </li>
            </ul>
            <div class="line"></div>
            <ul>
                        <li><a href="tel:+61(0)383766284" class="contacts-tel">+61(0)383766284</a></li>
                        <li><a href="mailto:noreply@envato.com" class="contacts-mail">noreply@envato.com</a></li>
            </ul>
        </div>
                <div class="box">
                    <span class="place">CAFE</span>
                    <ul class="contacts-list ">
                        <li class="contacts-list__item">
                            <h3 class="place_work">New York</h3>
                            <p class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                    <div class="line"></div>
                    <ul class="working-list ">
                        <li class="working-list__item">
                            <h3 class="working_days">Monday-Friday</h3>
                            <p class="working_time">06:00 AM-10:00 PM</p>
                        <li class="working-list__item">
                            <h3 class="working_days">Monday-Friday</h3>
                            <p class="working_time">06:00 AM-10:00 PM</p>
                        </li>
                    </ul>
                    <div class="line"></div>
                    <ul>
                        <li><a href="tel:+61(0)383766284" class="contacts-tel">+61(0)383766284</a></li>
                        <li><a href="mailto:noreply@envato.com"
                                class="contacts-mail">noreply@envato.com</a></li>
                    </ul>
                </div>
                </div>
                <ul class="btn-list">
                    <li class="btn-list__item">
                        <button type="button" class="btn-contacts" data-contacts-open>
                            <span>Our Locations</span>
                            <svg width="12px" height="8px" class="btn-contacts__icon">
                                <use href="./images/icons.svg#vector-1"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="btn-list__item">
                        <button type="button" class="btn-contacts btn-contacts--secondary" data-franchise-open>
                            <span>Franchise</span>
                            <svg width="12px" height="8px" class="btn-contacts__icon">
                                <use href="./images/icons.svg#vector-2"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
    </div>
        <div class="backdrop is-hidden" data-contacts>
            <div class="contacts-menu">
                <button class="close-contacts-menu"  data-contacts-close>
                    <svg class="contacts-icon" width="40" height="40">
                        <use href="./images/icons.svg#close"></use>
                    </svg></button>
                    <div class=contacts-map>
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d624.055199978665!2d-87.69719660951968!3d41.92460031777976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd29d66d2b201%3A0x9c07f4d0a31d957d!2sSpilt%20Milk!5e0!3m2!1sru!2sua!4v1642330256219!5m2!1sru!2sua"
                    height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
            </div>
        </div>
        <div class="backdrop is-hidden" data-franchise>
            <div class="franchise-menu">
                <button class="close-contacts-menu" data-franchise-close>
                    <svg class="contacts-icon" width="40" height="40">
                        <use href="./images/icons.svg#close"></use>
                    </svg></button> 
                    <div class="franchise-center">    
        <h2 class="modal__title">If you want to be both successful and proud of your own business with a well-known international brand, then you are on
the right track with IceCrema.</h2>
        <form class="form" autocomplete="off">
        <div class="form__box">
        <span class="form__field">Name</span>
        <label class="form__label">
        <input type="text" class="form__input" name="name" id="name" placeholder="">
        <svg class="form__icon" width="18" height="18">
        <use href="./images/icons.svg#person-black"></use>
        </svg>
        </label>
        </div>
        <div class="form__box">
        <span class="form__field">Phone number</span>
        <label class="form__label">
        <input type="tel" class="form__input" name="tel" id="tel" placeholder="">
        <svg class="form__icon" width="18" height="18">
            <use href="./images/icons.svg#phone-black"></use>
        </svg>
        </label>
        </div>
        <div class="form__box">
        <span class="form__field">E-mail</span>
        <label class="form__label">
        <input type="email" class="form__input" name="email" id="email" placeholder="">
        <svg class="form__icon" width="18" height="18">
        <use href="./images/icons.svg#email-black"></use>
        </svg>
        </label>
        </div>
        <div class="form__box">
        <span class="form__field">Contry</span>
        <label class="form__label">
        <input type="text" class="form__input" name="text" id="text" placeholder="">
        <svg class="form__icon" width="18" height="18">
            <use href="./images/icons.svg#location2"></use>
        </svg>
        </label>
        </div>
        <div class="box-center">
        <button class=label__btn type="submit">Send</button>
        </div>
    </form>
    </div>
            </div>
        </div>
</section>