<section class="customer__reviews">
    <div class="container">
        <div class="customer__wrapper">
            <div class="wrapper__swiper">
                <article class="wrapper__card slider">
                    <div class="customer__image-thumb">
                        <img src="./images/customer-1.jpg" alt="">
                    </div>
                    <div class="customer__review">
                        <div class="review__text-thumb">
                            <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam
                                sem.
                                In
                                hendrerit nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    </div>
                    <div class="after__text">
                        <p class="customer__name">
                            Emily, Los Angeles
                        </p>
                    </div>
                </article>
                <!-- <article class="wrapper__card slider">
                    <div class="customer__image-thumb">
                        <img src="./images/customer-1.jpg" alt="">
                    </div>
                    <div class="customer__review">
                        <div class="review__text-thumb">
                            <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam
                                sem.
                                In
                                hendrerit nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    </div>
                    <div class="after__text">
                        <p class="customer__name">
                            Emily, Los Angeles
                        </p>
                    </div>
                </article>
                <article class="wrapper__card slider">
                    <div class="customer__image-thumb">
                        <img src="./images/customer-1.jpg" alt="">
                    </div>
                    <div class="customer__review">
                        <div class="review__text-thumb">
                            <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam
                                sem.
                                In
                                hendrerit nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    </div>
                    <div class="after__text">
                        <p class="customer__name">
                            Emily, Los Angeles
                        </p>
                    </div>
                </article> -->
            </div>
        </div>
    </div>
</section>