<section class="customer__reviews">
    <div class="container">






        <div class="customer__wrapper">
            
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <article class="wrapper__card">
                        <div class="customer__image-thumb">
                            <img src="./images/slider/customer-1.jpg" alt="">
                        </div>
                        <div class="customer__review">
                            <div class="review__text-thumb">
                                <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                    Aliquam
                                    sem.
                                    In
                                    hendrerit nulla quam nunc, accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.</p>
                            </div>
                        </div>
                        <div class="after__text">
                            <p class="customer__name">
                                Emily, Los Angeles
                            </p>
                        </div>
                    </article>
                  </div>
                  <div class="swiper-slide">  <article class="wrapper__card">
                    <div class="customer__image-thumb">
                        <img src="./images/slider/customer-2.jpg" alt="">
                    </div>
                    <div class="customer__review">
                        <div class="review__text-thumb">
                            <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam
                                sem.
                                In
                                hendrerit nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    </div>
                    <div class="after__text">
                        <p class="customer__name">
                            Natalie, Chicago
                        </p>
                    </div>
                </article></div>
                  <div class="swiper-slide"> <article class="wrapper__card">
                    <div class="customer__image-thumb">
                        <img src="./images/slider/customer-3.jpg" alt="">
                    </div>
                    <div class="customer__review">
                        <div class="review__text-thumb">
                            <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam
                                sem.
                                In
                                hendrerit nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    </div>
                    <div class="after__text">
                        <p class="customer__name">
                            Ann, New York
                        </p>
                    </div>
                </article></div>
                  ...
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
              
                <!-- If we need navigation buttons -->
              
                <!-- If we need scrollbar -->
                
              </div>
              
            </div>
        </div>
    
</section>