<section id="about__us" class="gallery">
  <div class="container">
    <h2 class="is-hidden">Gallery</h2>
    <div class="gallery__box">
      <div class="gallery__block">
        <div class="gallery__line">
          <div class="image__skin">
            <picture>
              <source
                srcset="
                  ./images/gallery/mobile/gallery01-@1x.jpg 1x,
                  ./images/gallery/mobile/gallery01-@2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./images/gallery/tablet/gallery01-@1x.jpg 1x,
                  ./images/gallery/tablet/gallery01-@2x.jpg 2x
                "
                media="(max-width: 1279px)" />
              <img
                srcset="
                  ./images/gallery/desktop/gallery01-@1x.jpg 1x,
                  ./images/gallery/desktop/gallery01-@2x.jpg 2x
                "
                src="./images/gallery/desktop/gallery01-@1x.jpg"
                alt=" mint ice-cream in plate"
            /></picture>
          </div>
        </div>
      </div>
      <div class="gallery__block">
        <div class="gallery__line">
          <div class="image__skin">
            <picture>
              <source
                srcset="
                  ./images/gallery/mobile/gallery02-@1x.jpg 1x,
                  ./images/gallery/mobile/gallery02-@2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./images/gallery/tablet/gallery02-@1x.jpg 1x,
                  ./images/gallery/tablet/gallery02-@2x.jpg 2x
                "
                media="(max-width: 1279px)" />
              <img
                srcset="
                  ./images/gallery/desktop/gallery02-@1x.jpg 1x,
                  ./images/gallery/desktop/gallery02-@2x.jpg 2x
                "
                src="./images/gallery/desktop/gallery02-@1x.jpg"
                alt="pink ice-cream"
            /></picture>
          </div>
        </div>
        <div class="gallery__line">
          <div class="image__skin">
            <picture>
              <source
                srcset="
                  ./images/gallery/mobile/gallery03-@1x.jpg 1x,
                  ./images/gallery/mobile/gallery03-@2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./images/gallery/tablet/gallery03-@1x.jpg 1x,
                  ./images/gallery/tablet/gallery03-@2x.jpg 2x
                "
                media="(max-width: 1279px)" />
              <img
                srcset="
                  ./images/gallery/desktop/gallery03-@1x.jpg 1x,
                  ./images/gallery/desktop/gallery03-@2x.jpg 2x
                "
                src="./images/gallery/desktop/gallery03-@1x.jpg"
                alt="very much pinlk ice-cream"
            /></picture>
          </div>
        </div>
      </div>
      <div class="gallery__block big">
        <div class="gallery__line">
          <div class="image__skin">
            <picture>
              <source
                srcset="
                  ./images/gallery/mobile/gallery04-@1x.jpg 1x,
                  ./images/gallery/mobile/gallery04-@2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./images/gallery/tablet/gallery04-@1x.jpg 1x,
                  ./images/gallery/tablet/gallery04-@2x.jpg 2x
                "
                media="(max-width: 1279px)" />
              <img
                srcset="
                  ./images/gallery/desktop/gallery04-@1x.jpg 1x,
                  ./images/gallery/desktop/gallery04-@2x.jpg 2x
                "
                src="./images/gallery/desktop/gallery04-@1x.jpg"
                alt="very much ice cream waffles"
            /></picture>
          </div>
        </div>
        <div class="gallery__line little">
          <div class="image__skin">
            <picture>
              <source
                srcset="
                  ./images/gallery/mobile/gallery05-@1x.jpg 1x,
                  ./images/gallery/mobile/gallery05-@2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./images/gallery/tablet/gallery05-@1x.jpg 1x,
                  ./images/gallery/tablet/gallery05-@2x.jpg 2x
                "
                media="(max-width: 1279px)" />
              <img
                srcset="
                  ./images/gallery/desktop/gallery05-@1x.jpg 1x,
                  ./images/gallery/desktop/gallery05-@2x.jpg 2x
                "
                src="./images/gallery/desktop/gallery05-@1x.jpg"
                alt="girl with ice-cream"
            /></picture>
          </div>
        </div>
      </div>
      <div class="gallery__block down">
        <div class="gallery__line">
          <div class="image__skin">
            <picture>
              <source
                srcset="
                  ./images/gallery/mobile/gallery06-@1x.jpg 1x,
                  ./images/gallery/mobile/gallery06-@2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./images/gallery/tablet/gallery06-@1x.jpg 1x,
                  ./images/gallery/tablet/gallery06-@2x.jpg 2x
                "
                media="(max-width: 1279px)" />
              <img
                srcset="
                  ./images/gallery/desktop/gallery06-@1x.jpg 1x,
                  ./images/gallery/desktop/gallery06-@2x.jpg 2x
                "
                src="./images/gallery/desktop/gallery06-@1x.jpg"
                alt="blueberries in ice-cream"
            /></picture>
          </div>
        </div>
        <div class="gallery__line">
          <div class="image__skin">
            <picture>
              <source
                srcset="
                  ./images/gallery/mobile/gallery07-@1x.jpg 1x,
                  ./images/gallery/mobile/gallery07-@2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./images/gallery/tablet/gallery07-@1x.jpg 1x,
                  ./images/gallery/tablet/gallery07-@2x.jpg 2x
                "
                media="(max-width: 1279px)" />
              <img
                srcset="
                  ./images/gallery/desktop/gallery07-@1x.jpg 1x,
                  ./images/gallery/desktop/gallery07-@2x.jpg 2x
                "
                src="./images/gallery/desktop/gallery07-@1x.jpg"
                alt="red ice-cream on street"
            /></picture>
          </div>
        </div>
      </div>
      <div class="gallery__block up">
        <div class="gallery__line">
          <div class="image__skin">
            <picture>
              <source
                srcset="
                  ./images/gallery/mobile/gallery08-@1x.jpg 1x,
                  ./images/gallery/mobile/gallery08-@2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./images/gallery/tablet/gallery08-@1x.jpg 1x,
                  ./images/gallery/tablet/gallery08-@2x.jpg 2x
                "
                media="(max-width: 1279px)" />
              <img
                srcset="
                  ./images/gallery/desktop/gallery08-@1x.jpg 1x,
                  ./images/gallery/desktop/gallery08-@2x.jpg 2x
                "
                src="./images/gallery/desktop/gallery08-@1x.jpg"
                alt="dog with ice-cream"
            /></picture>
          </div>
        </div>
        <div class="gallery__line">
          <div class="image__skin">
            <picture>
              <source
                srcset="
                  ./images/gallery/mobile/gallery09-@1x.jpg 1x,
                  ./images/gallery/mobile/gallery09-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/gallery/tablet/gallery09-@1x.jpg 1x,
                  ./images/gallery/tablet/gallery09-@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./images/gallery/desktop/gallery09-@1x.jpg 1x,
                  ./images/gallery/desktop/gallery09-@2x.jpg 2x
                "
                src="./images/gallery/desktop/gallery09-@1x.jpg"
                alt="coffee shake"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__block down">
        <div class="gallery__line">
          <div class="image__skin">
            <picture>
              <source
                srcset="
                  ./images/gallery/mobile/gallery10-@1x.jpg 1x,
                  ./images/gallery/mobile/gallery10-@2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./images/gallery/tablet/gallery10-@1x.jpg 1x,
                  ./images/gallery/tablet/gallery10-@2x.jpg 2x
                "
                media="(max-width: 1279px)" />
              <img
                srcset="
                  ./images/gallery/desktop/gallery10-@1x.jpg 1x,
                  ./images/gallery/desktop/gallery10-@2x.jpg 2x
                "
                src="./images/gallery/desktop/gallery10-@1x.jpg"
                alt="ice-cream in cup yellow background"
            /></picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
