<section class="section-gallery">
  <div class="container container-gallery">
    <picture>
      <img
        class="gallery"
        srcset="
          ./images/gallery/mobile/gallery.jpg      320w,
          ./images/gallery/mobile/gallery@2x.jpg   640w,
          ./images/gallery/tablet/gallery.jpg      768w,
          ./images/gallery/tablet/gallery@2x.jpg  1536w,
          ./images/gallery/desktop/gallery.jpg    1278w,
          ./images/gallery/desktop/gallery@2x.jpg 2556w
        "
        src="./images/gallery/mobile/gallery.jpg"
        alt="коллекция фотографий с мороженым"
      />
    </picture>
  </div>
</section>
