<header class="page-header">
    <div class="container header-container">
        <div class="wrapper-header ">
            <nav class="site-nav">

                <a href="" class="logo">
                    <img class="logo-images" src="./images/logo 1.png" alt="логотип сайта">
                </a>

                <button type="button" class="mobile-menu-button-open " data-menu-button-open>
                    <svg width="20" height="12">
                        <use class="menu-button__icon-burger" href="./images/icon-defs.svg#icon-Burger"></use>
                    </svg>
                </button>

                <div class="menu-container" data-menu>

                    <button type="button" class="mobile-menu-button-close " data-menu-button-close>
                        <svg width="14" height="14">
                            <use class="menu-button__icon-close" href="./images/icon-defs.svg#icon-close"></use>
                        </svg>
                    </button>

                    <button type="button" class="modal-button button">Buy now
                        <span class="wrapper-icon">
                            <svg width="6" height="8">
                                <use class="menu-button__icon-menu" href="./images/icon-defs.svg#icon-Vector-1"></use>
                            </svg>
                        </span>
                    </button>

                    <ul class="site-nav-list">
                        <li class="site-nav-list_item">
                            <a href="" class="site-nav-list_link">Home</a>
                        </li>
                        <li class="site-nav-list_item">
                            <a href="" class="site-nav-list_link">About us</a>
                        </li>
                        <li class="site-nav-list_item">
                            <a href="" class="site-nav-list_link">How it’s made?</a>
                        </li>
                        <li class="site-nav-list_item">
                            <a href="" class="site-nav-list_link">Our products</a>
                        </li>
                        <li class="site-nav-list_item">
                            <a href="" class="site-nav-list_link">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div>
                <button type="button" class="header-button button">Buy now ></button>
            </div>
        </div>
    </div>
</header>