<section class="products">
    <div class="container">
        <p class="products__subtitle">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__about">
            <li class="products__list products__list-icecream">
                <h3 class="products__list-title">
                    ice cream
                </h3>
                <div class="products__item">
                    <div class="products__text">
                        <p class="products__text-btn">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et. dolore magna
                            aliqua facilisis.
                        </p>
                        <input type="checkbox" name="menu" id="read-more" class="products__checkbox">
                    </div>

                    <label for="read-more" class="products__btn">
                        <svg class="products-icons">
                            <use href="./images/icons.svg#icon-Vector-right""></use>
                        </svg>
                    </label>
                </div>
            </li>
            <li class="products__list products__list-coffee">
                <h3 class="products__list-title">ice coffee</h3>
                <div class="products__item">

                    <div class="products__text">
                        <p class="products__text-btn">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <input type="checkbox" name="checkbox" id="read-more" class="products__checkbox">
                    </div>

                    <label for="read-more" class="products__btn">
                        <svg class="products-icons">
                            <use href="./images/icons.svg#icon-Vector-right"></use>
                        </svg>
                </div>
            </li>
            <li class="products__list products__list-milkshakes">
                <h3 class="products__list-title">milkshakes</h3>
                <div class="products__item">

                    <div class="products__text">
                        <p class="products__text-btn">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <input type="checkbox" name="" id="read-more" class="products__checkbox">
                    </div>

                    <label for="read-more" class="products__btn">
                        <svg class="products-icons">
                            <use href="./images/icons.svg#icon-Vector-right""></use>
                        </svg>
                </div>
            </li>
        </ul>


    </div>
</section>