
<section id="products__card" class="products">
    <div class="container">
        <p class="products__subtitle">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__about">
            <li class="products__list products__list-icecream">
                <h3 class="products__list-title">
                    ice cream
                </h3>
                <div class="products__item">
                    <div class="products__text">
                    <p class="products__text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ullam vitae cum, laboriosam exercitationem soluta,</p>
                        <input type ="checkbox" id="read-more-icecream" hidden="" class="products__checkbox products__checkbox-icecream">
                    <p class="products__text-secondary">
                a ducimus doloremque natus molestias quasi aspernatur sapiente, accusamus repellat. Placeat quidem nihil nemo ea maiores
                ullam.
                    </p>
                    </div>
                     
                    <label for="read-more-icecream" class="products__btn shadow__btn">
                        <svg class="products-icons" >
                            <use href="./images/icons.svg#icon-arrow-right2"></use>
                        </svg>
                    </label>
                </div>
            </li>
            <li class="products__list products__list-coffee">
                <h3 class="products__list-title">ice coffee</h3>

                <div class="products__item">
                    <div class="products__text">
                        <p class="products__text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ullam vitae cum,
                            laboriosam exercitationem soluta,</p>
                        <input type="checkbox"  id="read-more-coffee"  hidden="" class="products__checkbox">
                    <p class="products__text-secondary">
                        a ducimus doloremque natus molestias quasi aspernatur sapiente, accusamus repellat. Placeat quidem nihil nemo ea
                        maiores
                        ullam.
                    </p>
                    </div>
                    <label for="read-more-coffee" class="products__btn shadow__btn">
                        <svg class="products-icons">
                            <use href="./images/icons.svg#icon-arrow-right2"></use>
                        </svg>
                    </label>
                </div>
            </li>
            <li class="products__list products__list-milkshakes">
                <h3 class="products__list-title">milkshakes</h3>
                <div class="products__item">

                    <div class="products__text">
                        <p class="products__text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ullam vitae cum,
                            laboriosam exercitationem soluta,</p>
                        <input type="checkbox"  id="read-more-milkshakes"  hidden="" class="products__checkbox">
                    <p class="products__text-secondary">
                        a ducimus doloremque natus molestias quasi aspernatur sapiente, accusamus repellat. Placeat quidem nihil nemo ea
                        maiores
                        ullam.
                    </p>
                    </div>
                    <label for="read-more-milkshakes" class="products__btn shadow__btn">
                        <svg class="products-icons">
                            <use href="./images/icons.svg#icon-arrow-right2"></use>
                        </svg>
                    </label>
                </div>
            </li>
        </ul>

    </div>
</section>