.section-gallery {
  background-image: linear-gradient(
    to bottom,
    var(--section-bg-color) 65px,
    var(--white-txt-color) 65px
  );
}
.container-gallery {
  padding: 0;
}
.gallery {
  max-width: 100%;
}
.section-title {
  position: absolute;
}
