.products {
  padding-top: 121px;
  padding-bottom: 98px;
  background-color: var(--white-txt-color);

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
.products__subtitle {
  font-family: Titan One, cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--label-color);
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__title {
  font-family: Titan One, cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--button-bg-color);

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 39px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 149px;
  }
}
.products__about{
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
    @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.products__list {
  position: relative;
  border-radius: 24px;
  margin-top: 144px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0;
  padding-top: 161px;

  @media screen and(min-width:480px){
    max-width: 280px;
  }
  
}
.products__about > .products__list{
    @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 20px);
    margin-left: 10px;
    margin-right: 10px;
    max-width: 220px;
  height: 100%;
  }
   @media screen and (min-width: 1280px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 15px;
    margin-right: 15px;
     max-width: 329px;
    height: 100%;
  }
}



.products__list-icecream::before {
  position: absolute;
  content: url('../images/products/ice-cream1-mob.png');
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px){
  content: url('../images/products/ice-cream1-tablet.png');
  }
  @media screen and (min-width: 1280px){
  content: url('../images/products/ice-cream1-desctop.png');
  top: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  }

.products__list-coffee::before {
  position: absolute;
  content: url('../images/products/coffee1-mob.png');
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

   @media screen and (min-width: 768px){
  content: url('../images/products/coffee1-tablet.png');
  }
  @media screen and (min-width: 1280px){
  content: url('../images/products/coffee1-desctop.png');
  top: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
}

.products__list-milkshakes::before {
  position: absolute;
  content: url('../images/products/milkshakes1-mob.png');
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

   @media screen and (min-width: 768px){
  content: url('../images/products/milkshakes1-tablet.png');
  }
  @media screen and (min-width: 1280px){
  content: url('../images/products/milkshakes1-desctop.png');
  top: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
}

.products__list-icecream {
  background-color: #ffb8ca;
}
.products__list-coffee {
  background-color: #f0d1a5;
}
.products__list-milkshakes {
  background-color: #c2e297;
}
.products__list-title {
  font-family: Titan One, cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-txt-color);
  padding-right: 52px;
  padding-left: 52px;

  @media screen and (min-width: 768px){
  font-size: 20px;
  line-height: 1.15;
  padding-right: 23px;
  padding-left: 23px
  }
   @media screen and (min-width: 1280px){
  font-size: 30px;
  line-height: 1.13;
  padding-right: 60px;
  padding-left: 60px
  }
}
.products__list-title::after {
  content: '...';
  display: block;
  padding-top: 30px;
  letter-spacing: 4px;
  margin: 0;
}
.products__item {
  padding-bottom: 45px;
}
.products__text {
 margin-bottom: 30px;
}
.products__text-secondary {
  @media screen and(min-width: 320px) {
    display: none;
  }
}
.products__text-primary{
  margin-top: 30px;
}
.products__text-secondary,
.products__text-primary {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-txt-color);
  padding-left: 40px;
  padding-right: 40px;
  transform: translateX(0);
  transition-duration: 250ms linear;

  @media screen and (min-width: 768px){
  font-size: 14px;
  line-height: 1.7;
  padding-left: 11px;
  padding-right: 11px;
  }
   @media screen and (min-width: 1280px){
  font-size: 16px;
  line-height: 1.75;
  padding-left: 44px;
  padding-right: 44px;
  }
}

.products__checkbox {
  margin-top: 150px;
  position: absolute;
}
.products-icons {
  width: 10px;
  height: 11px;
  fill: var(--button-txt-color);
  margin: 15px;
}
.products__btn {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: var(--white-txt-color);
  border: 1px var(--white-txt-color);
  transform: rotate(0);
  transition: transform 300ms linear,filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__btn:hover {
  transform: rotate(-90deg);

}
.shadow__btn:hover {
  filter: drop-shadow(-4px 2px 4px rgba(34, 60, 80, 0.24));
  
}



#read-more-icecream:checked ~ .products__text-secondary {
  display: block;
}

#read-more-icecream:checked ~ .read-more-icecream {
  display: none;
}
#read-more-coffee:checked ~ .products__text-secondary {
  display: block;
}

#read-more-coffee:checked ~ .read-more-icecream {
  display: none;
}
#read-more-milkshakes:checked ~ .products__text-secondary{
  display: block;
}

#read-more-milkshakes:checked ~ .read-more-icecream {
  display: none;
}

